{% extends 'megalinks/new/layout.html' %}
{% block body %}
{% load static %}
<div class="row">
    <div class="col s12 m12 l12 center-align">
        <h3>Contribute</h3>
    </div>
</div>
<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">
                <p class="contribute">If you like this site and want to help keep it going, then here are some ways in which you could contribute.</p>
            </div>
            <div class="row">
                <div class="col s12 m12 l8 ">
                    <p class="contribute-header" style="font-size: 20px"><b>&#8226; Donation </b></p>
                    <p class="contribute">You can contribute to the site by donating some money.</p>
                    <p class="contribute">Although it is not incumbent for you to pay ( and it will never be ), you could show your appreciation of my work by helping me to minimize the hosting costs.</p>
                    <p class="contribute">Bitcoin Address: </p>
                    <pre class="contribute" style="padding: 8px;">3Dsw3s3yfnLUvSsafhMMNnFM7HPRjrgJUv</pre>
                    <p class="contribute"><a href="https://www.reddit.com/message/compose/?to=Cartmanishere&subject=PayPal&message=Id%20like%20to%20donate:">Paypal</a></p>

                </div>
                <div class="col s12 m12 l4 right-align">
                    <div class="img-responsive hide-on-med-and-down">
                        <img src="{% static 'assets/bitcoin.jpeg' %}" height="300" width="300">
                    </div>
                    <div class="img-responsive hide-on-large-only">
                        <div class="center-align">
                            <img src="{% static 'assets/bitcoin.jpeg' %}" height="200" width="200">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s11 l10 m10">
                     <p class="contribute-header" style="font-size: 20px"><b>&#8226; Content </b></p>
                    <p class="contribute">Money is not the only way you can contribute.</p>
                    <p class="contribute">This site is useful only because of the content. And that content is dependent on what the members choose to post.</p>
                     <p class="contribute">If you are here, you must be aware of the subreddit <a href="http://reddit.com/r/megalinks">/r/megalinks</a> where a tonne of great content is uploaded daily.</p>
                    <p class="contribute">The goal behind this site has always been to act as a mirror of the content and links that are posted on there.</p>
                    <p class="contribute">All this time, I have been the only one backing up that content and publically serving the mirror links. But understandably, many interesting things slip through - that are never backed up. And these great uploads are often lost from the public purview.</p>
                    <p class="contribute">The way <i>you</i> can make this site helpful for others is to help post mirror links. Most probably you import the content to your own accounts before downloading. So you can export that from your account and share the <i>new</i> link here. Thus even if original link is taken down, there still remains a chance that the content is not lost.</p>
                    <p class="contribute">There is no benefit in posting the original links here.</p>
                    <p class="contribute">If you are interested, then <a href="{% url 'signup' %}">Sign Up</a> and you can also post your own mirror links here.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        document.title = "Megalinks | Contribute";
    })
</script>


{% endblock %}